{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/pie.css' %}">
    <title>Tarea | {% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        {% include 'layouts/partials/menu.html' %}
    </nav>
    

    {% block content %}

    {% endblock %}

    {% include 'layouts/partials/pie.html' %}
    {% block script %} {% endblock %}
</body>
</html>