.formulario {
    width: 30vw;
    height: 50vh;
    background: linear-gradient(to bottom right, #baf6fa, #2ddbe7d3, transparent);
    box-sizing: border-box;
    margin: auto;
    border-radius: 10px;
}

.titulo {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
}


.formulario_input {
    width: 80%;
    padding: 10px 0;
    margin: 10px 10% 0 10%;
    border: none;
}

.input {
    border-bottom: 3px solid #cc5edd;
    border-radius: 5px;
    background: linear-gradient(to left bottom, transparent, rgba(219, 187, 219, 0.678));
    color: #CA30E1;
    font-family: Arial;
    font-size: 14px;
}

.input::placeholder {
    color: rgb(90, 90, 90);
}

.input:focus {
    outline: none;
    background: linear-gradient(to left bottom, transparent, rgba(231, 114, 231, 0.582), rgb(255, 255, 255));
}

.boton {
    background: linear-gradient(to top left, #cb5ddb, #ffffff);
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.boton:hover {
    background: linear-gradient(to right bottom, transparent, #CA30E1);
    cursor: pointer;
}